@import "fonts";
@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #090909;
  --blue: #2463EB;
  --green: #34C759;
  --red: #FF383C;
  --grey: #8E8E93;
  --color-txt: #272727;
  --color-txt-light: #9599A1;
  --color-bg: #F2F2F7;
  --color-border: #E5E7EB;
  --light: rgba(27, 31, 38, 0.72);
  --width-base: 1280;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
  --size: calc(16 * var(--width-multiplier));
}

@media(max-width: 1024px) {
    :root {
      --width-base: 768;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(50 * var(--width-multiplier));
}

::-webkit-scrollbar {
  width: calc(4 * var(--width-multiplier));
}

::-webkit-scrollbar-track {
  background: #F2F2F7;
}

::-webkit-scrollbar-thumb {
  background: #090909;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--dark, $dark);
  font: 400 calc(16 * var(--width-multiplier))/1.3 Inter;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--white, $white);
  z-index: 999;
}

.preloader-gutters {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white, $white);
  transform: translateX(-100%);
  z-index: 3;
}

.site-name {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white, $white);
  z-index: 1;
  svg {
    width: calc(600 * var(--width-multiplier));
    height: auto;
    @media (max-width: 767px) {
      width: 80vw;
      height: auto;
    }
  }
}

.preloader-gutters .bar {
  position: relative;
  width: 12.5%;
  height: 100%;
  background:transparent;
}

.preloader-gutters .inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--dark, $dark);
}

.site-main {
  display: none;
  opacity: 0;
}

.container {
  width: 100%;
  padding: 0 calc(24 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  width: 100%;
  padding: calc(20 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
  border: 1px solid var(--color-border, $color-border);
  border-radius: calc(8 * var(--width-multiplier));
  color: var(--dark, $dark);
  background-color: var(--white, $white);
  font: inherit;
  &::placeholder {
    color: var(--color-txt-light, $color-txt-light);
  }
  &:focus, &:focus-visible {
    outline: none;
  }
  @media (max-width: 767px) {
    padding: calc(16 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-white) inset !important;
  box-shadow: 0 0 0 1000px var(--color-white) inset !important;
  -webkit-text-fill-color: var(--color-dark) !important;
  transition: background-color 9999s ease-in-out 0s;
}

textarea {
  resize: none;
  height: calc(190 * var(--width-multiplier));
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: calc(20 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
  padding-right: calc(36 * var(--width-multiplier));
  background: url(../img/arrow-down.svg) no-repeat top 50% right calc(12 * var(--width-multiplier));
  background-size: calc(18 * var(--width-multiplier));
  background-color: var(--white, $white);
  cursor: pointer;
  @media (max-width: 767px) {
    padding: calc(16 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
    padding-right: calc(26 * var(--width-multiplier));
    background-size: calc(14 * var(--width-multiplier));
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
    display: grid;
  inline-size: var(--size);
  block-size: var(--size);
  margin: 0;
  margin-right: calc(8 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid var(--dark, $dark);
  border-radius: calc(2 * var(--width-multiplier));
  place-content: center;
  background: #fff;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: calc(10 * var(--width-multiplier));
  height: calc(10 * var(--width-multiplier));
  margin-top: calc(-2 * var(--width-multiplier));
  transform: scale(0);
  transition: transform .12s ease-in-out;
  clip-path: polygon(14% 52%, 0 66%, 38% 100%, 100% 28%, 86% 14%, 38% 72%);
  background: var(--dark, $dark);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  margin: 0;
  margin-right: calc(8 * var(--width-multiplier));
  inline-size: var(--size);
  block-size: var(--size);
  border: calc(1 * var(--width-multiplier)) solid var(--dark, $dark);
  border-radius: 50%;
  background: #fff;
  place-content: center;
}

input[type="radio"]::after {
  content: "";
  width: calc(10 * var(--width-multiplier));
  height: calc(10 * var(--width-multiplier));
  border-radius: 50%;
  background: var(--dark, $dark);
  transform: scale(0);
  transition: transform .12s ease-in-out;
}

input[type="radio"]:checked::after { transform: scale(1); }

.form__field {
  span {
    display: none;
    margin-top: calc(4 * var(--width-multiplier));
    font-size: calc(12 * var(--width-multiplier));
    line-height: 1;
  }
  &.error {
    input, select, textarea {
      color: var(--red, $red);
      border-color: var(--red, $red);
      &::placeholder {
        color: var(--red, $red);
      }
    }
    span {
      display: block;
      color: var(--red, $red);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: calc(12 * var(--width-multiplier));
  border: 1px solid transparent;
  @include transition;
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    color: #ABB1BC;
    background-color: #EFF4FA;
  }
  &-dark {
    color: var(--white, $white);
    background-color: var(--dark, $dark);
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(0.98);
    }
  }
  &-border {
    border-color: var(--dark, $dark);
    &:hover {
      color: var(--white, $white);
      background-color: var(--dark, $dark);
    }
  }
  &-purple {
    border-color: #190134;
    color: #190134;
    &:hover {
      color: var(--white, $white);
      background-color: var(--dark, $dark);
    }
  }
  &-link {
    display: flex;
    align-items: center;
    gap: calc(4 * var(--width-multiplier));
    svg {
      display: block;
      min-width: calc(14 * var(--width-multiplier));
      width: calc(14 * var(--width-multiplier));
      height: calc(14 * var(--width-multiplier));
      pointer-events: none;
      transition: transform 0.3s ease-out;
    }
    &:hover {
      svg {
        transform: translateX(calc(4 * var(--width-multiplier)));
      }
    }
  }
}

.text {
  &-up {
    text-transform: uppercase;
  }
  &-lower {
    text-transform: lowercase;
  }
  &-m {
    font-size: calc(18 * var(--width-multiplier));
  }
  &-xs {
    font-size: calc(12 * var(--width-multiplier));
  }
  &-space {
    letter-spacing: calc(0.48 * var(--width-multiplier));
  }
  &-center {
    text-align: center;
  }
}

.title {
  letter-spacing: calc(-0.64 * var(--width-multiplier));
}

h1, h2, h3, h4, h5, h6 {
  font-family: PlayfairDisplaySC;
  font-weight: 400;
}


h1, h2 {
  font-size: calc(32 * var(--width-multiplier));
  line-height: 1.2em;
  @media (max-width: 1024px) {
    font-size: calc(28 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h3 {
  font-size: calc(24 * var(--width-multiplier));
  line-height: 1.2em;
  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier));
  }
}

h4 {
  font-size: calc(20 * var(--width-multiplier));
  line-height: 1.2em;
  @media (max-width: 767px) {
    font-size: calc(18 * var(--width-multiplier));
  }
}