.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--white, $white);
  @include transition;
  &__container {
    display: flex;
    align-items: center;
    gap: calc(160 * var(--width-multiplier));
    text-transform: uppercase;
    font-size: calc(12 * var(--width-multiplier));
    line-height: 1.2em;
    letter-spacing: 4%;
    @media(max-width: 1024px) {
      gap: calc(20 * var(--width-multiplier));
      padding: calc(20 * var(--width-multiplier)) 0;
    }
  }
  &__nav {
    transition: left 0.3s ease-out;
    &.open {
      left: 0;
    }
    .submenu {
      position: absolute;
      top: 100%;
      left: calc(-100 * var(--width-multiplier));
      opacity: 0;
      pointer-events: none;
      transition: left 0.3s ease-out, opacity 0.3s ease-out;
      .submenu-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: calc(4 * var(--width-multiplier));
        padding: calc(16 * var(--width-multiplier)) calc(28 * var(--width-multiplier));
        opacity: 0.5;
        transition: opacity 0.3s ease-out;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: calc(16 * var(--width-multiplier));
          transform: translateY(-50%);
          width: calc(14 * var(--width-multiplier));
          height: calc(14 * var(--width-multiplier));
          background: url(../img/arrow-right-menu.svg) center / contain no-repeat;
        }
        &.active {
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
        @media(min-width: 1025px) {
          border-bottom: 1px solid #E4E4E4;
        }
        @media(max-width: 1024px) {
          opacity: 1;
        }
      }
      &-list {
        min-width: calc(260 * var(--width-multiplier));
        height: calc(100vh - calc(50 * var(--width-multiplier)));
        padding: calc(12 * var(--width-multiplier)) 0;
        background-color: #F2F2F7;
        overflow-y: auto;
        @media(max-width: 1024px) {
          width: 100%;
        }
      }
      .submenu {
        top: 0;
        left: calc(-100 * var(--width-multiplier));
        &.open {
          opacity: 1;
          pointer-events: auto;
          top: 0;
          left: 100%;
          @media(max-width: 1024px) {
            &.open {
              left: 0;
            }
          }
        }
        @media(min-width: 1025px) {
          z-index: -1;
        }
        @media(max-width: 1024px) {
          left: calc(100 * var(--width-multiplier));
        }
      }
      &:hover {
        opacity: 1;
        pointer-events: auto;
        top: 100%;
        left: 0;
      }
      @media(max-width: 1024px) {
        width: 100vw;
        z-index: 1;
        left: calc(100 * var(--width-multiplier));
        &.open {
          opacity: 1;
          pointer-events: auto;
          top: 0;
          left: 0;
        }
      }
    }
    @media(max-width: 1024px) {
      position: absolute;
      top: 100%;
      left: 100%;
      display: block;
      min-width: calc(260 * var(--width-multiplier));
      height: calc(100vh - calc(50 * var(--width-multiplier)));
      padding: calc(12 * var(--width-multiplier)) 0;
      background-color: var(--color-bg, $color-bg);
    }
    @media(max-width: 767px) {
      width: 100vw;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    li {
      @media(min-width: 1025px) {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
      @media(max-width: 1024px) {
        border-bottom: 1px solid #E4E4E4;
      }
      @media(max-width: 767px) {
        width: 100vw;
      }
    }
    .header__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(16 * var(--width-multiplier));
      color: var(--light);
      border-bottom: 0 !important;
      opacity: 0.5;
      transition: opacity 0.3s ease-out;
      img {
        width: calc(160 * var(--width-multiplier));
        height: calc(160 * var(--width-multiplier));
        object-fit: cover;
      }
      &:hover {
        opacity: 1;
      }
      &::after {
        content: none !important;
      }
      @media(max-width: 1024px) {
        padding: calc(16 * var(--width-multiplier)) 0;
        opacity: 1;
      }
    }
    @media(max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
    @media(max-width: 767px) {
      width: 100%;
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(4 * var(--width-multiplier));
    padding: calc(18 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
    svg {
      display: block;
      min-width: calc(12 * var(--width-multiplier));
      width: calc(12 * var(--width-multiplier));
      height: calc(12 * var(--width-multiplier));
      pointer-events: none;
    }
    &:hover {
      + .submenu {
        opacity: 1;
        pointer-events: auto;
        top: 100%;
        left: 0;
      }
    }
    @media(min-width: 1025px) {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--dark);
        transition: width 0.3s ease-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
    @media(max-width: 1024px) {
      padding: calc(16 * var(--width-multiplier)) calc(28 * var(--width-multiplier));
    }
    @media(max-width: 767px) {
      width: 100%;
    }
  }
  &__logo {
    min-width: calc(88 * var(--width-multiplier));
    width: calc(88 * var(--width-multiplier));
    height: calc(23 * var(--width-multiplier));
    margin-right: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: calc(20 * var(--width-multiplier));
  }
  &__lang {
    &-list {
      display: none;
    }
    &_mb {
      display: none;
      @media(max-width: 767px) {
        display: block;
      }
    }
    @media(max-width: 767px) {
      display: none;
    }
  }
  &__store {
    display: flex;
    align-items: center;
    gap: calc(20 * var(--width-multiplier));
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: block;
      min-width: calc(22 * var(--width-multiplier));
      width: calc(22 * var(--width-multiplier));
      height: calc(22 * var(--width-multiplier));
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__cart {
    position: relative;
    span {
      position: absolute;
      top: calc(-4 * var(--width-multiplier));
      right: calc(-4 * var(--width-multiplier));
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(15 * var(--width-multiplier));
      height: calc(15 * var(--width-multiplier));
      border-radius: 100%;
      border: calc(1.5 * var(--width-multiplier)) solid var(--white, $white);
      color: var(--white, $white);
      background-color: var(--dark, $dark);
      font-size: calc(8 * var(--width-multiplier));
      font-weight: 500;
      line-height: 1.2em;
    }
  }
  &__burger {
    position: relative;
    display: none;
    width: calc(20 * var(--width-multiplier));
    height: calc(20 * var(--width-multiplier));
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      right: calc(2 * var(--width-multiplier));
      left: calc(2 * var(--width-multiplier));
      display: block;
      height: calc(2 * var(--width-multiplier));
      width: calc(100% - calc(4 * var(--width-multiplier)));
      border-radius: calc(4 * var(--width-multiplier));
      background-color: var(--dark, $dark);
      pointer-events: none;
      @include transition;
      &:nth-child(1){
        top: calc(5 * var(--width-multiplier));
      }
      &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3){
        bottom: calc(5 * var(--width-multiplier));
      }
    }
    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          bottom: auto;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
    @media(max-width: 1024px) {
      display: block;
    }
  }
}
