// COLORS VARS
$white: #FFFFFF;
$dark: #090909;
$blue: #2463EB;
$green: #34C759;
$red: #FF383C;
$grey: #8E8E93;
$color-txt: #272727;
$color-txt-light: #9599A1;
$color-bg: #F2F2F7;
$color-border: #E5E7EB;
$light: rgba(27, 31, 38, 0.72);